<div class = "signup-page">

  <div class = "signup-title">
    <h1>ユーザー新規登録</h1>
  </div>

  <div class = "form">
    <%= form_with(model: @user) do |f| %>
  
      <div class = "name">
        <%= f.label :name, 'ユーザーネーム' %>
        <%= f.text_field :name %>
      </div>
  
      <div class = "mail">
        <%= f.label :email, 'Emailアドレス' %>
        <%= f.email_field :email %>
      </div>
  
      <div class = "password">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password %>
      </div>
  
      <div class = "password">
        <%= f.label :password_confirmation, 'パスワード確認' %>
        <%= f.password_field :password_confirmation %>
      </div>
  
      <%= f.submit "登録" %>
    <% end %>
  </div>
</div>