<!--エージェント一覧のリンクを実装したいが手間取り中-->

<p><%= @agent.name %></p>
<p><%= @agent.role %></p>

<!--ここより下がスキル名とその説明-->

<div class = "skill1">
  <ul>
    <li class = "skill1_name"><%= @agent.skill1_name %></li>
    <li class = "skill1_detail"><%= @agent.skill1_detail %></li>
  </ul>
</div>

<div class = "skill2">
  <ul>
    <li class = "skill2_name"><%= @agent.skill2_name %></li>
    <li class = "skill2_detail"><%= @agent.skill2_detail %></li>
  </ul>
</div>

<div class = "skill3">
  <ul>
    <li class = "skill3_name"><%= @agent.skill3_name %></li>
    <li class = "skill3_detail"><%= @agent.skill3_detail %></li>
  </ul>
</div>

<div class = "skill4">
  <ul>
    <li class = "skill4_name"><%= @agent.skill4_name %></li>
    <li class = "skill4_detail"><%= @agent.skill4_detail %></li>
  </ul>
</div>

<!--ここより下に詳細説明の投稿が入る-->